@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

body {
      font-family: 'Poppins', sans-serif;
}


.container { max-width: 1000px; 
    margin: 0 auto;
     padding: 2rem; }
h2 { text-align: center;
     font-size: 2.5rem; 
     color: #2E7D32;
      margin-bottom: 2rem; }

.about-text { 
  background: linear-gradient(135deg, #fcfcfc, #d6d4d4d5); 
  padding: 2rem; 
  border-radius: 15px; 
  box-shadow: 0 10px 25px rgba(255, 255, 255, 0.1); 
  line-height: 1.8; 
  font-size: 1.1rem; 
  color: #000000;
  position: relative;
}

.about-text p { margin-bottom: 1.3rem; }

.highlight { 
  color: #0f0e0e; 
  font-weight: bold; 
  background-color: hsla(0, 0%, 100%, 0.753); 
  padding: 2px 6px; 
  border-radius: 5px;
  transition: all 0.3s ease;
}

.highlight:hover { 
  background-color: #c8e6c9; 
  cursor: default; 
}


.container { 
    max-width: 1200px;
    margin: 0 auto; 
    padding: 2rem; 
 }
h2 { text-align: center; font-size: 2.5rem; color: #2E7D32; margin-bottom: 3rem; }

.circle-wrapper {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 2rem;
}

.circle-card {
  background: #f7f7f7;
  border-radius: 50%;
  padding: 3rem;
  width: 340px;
  text-align: center;
  box-shadow: 0 8px 30px rgba(0,0,0,0.1);
  transition: transform 0.3s, box-shadow 0.3s;
}

.circle-card:hover {
  transform: translateY(-10px);
  box-shadow: 0 20px 10px rgba(0,0,0,0.15);
}

.icon {
  font-size: 3rem;
  margin-bottom: 1rem;
}

.circle-card h3 { color: #2E7D32; margin-bottom: 1rem; }
.circle-card p,
 .circle-card li {
     color: #333; 
     font-size: 0.8rem; 
     line-height: 1.3; }
.circle-card ul { 
    text-align: left;
     padding-left: 1.2rem; 
     margin: 0;
     }

@media screen and (max-width: 900px) {
  .circle-wrapper {
     flex-direction: column;
      align-items: center;
     }
  .circle-card {
     width: 90%; 
    }
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}


.header {
    display: flex;
    align-items: center;
    min-height: 70vh;
    position: relative;
}

.menu {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;
}


.logo {
    font-size: 25px;
    color:#ff9000;
    text-transform: uppercase;
    font-weight: 800;
}

.menu .navbar ul li {
    position: relative;
    float: left;
}

.menu .navbar ul li {
    font-size: 18px;
    padding: 20px;
    font-weight: 600;
    color: #1d1d1b;
    display: block;
}
 .menu .navbar ul li a:hover {
    color: #EF8700;
 }

 #menu {
    display: none;
 }
 
 .menu-icono {
    width: 25px;
 }
 .menu label {

    cursor: pointer;
    display: none;
 }

 .submenu {
    position: relative;
 }

 .submenu #carrito {
    display: none;
 }

 .submenu:hover #carrito {
    display: block;
    position: absolute;
    right: 0;
    backdrop-filter: blur(10px);
    top: 100%;
    z-index: 1;
    background-color: #77777797;
    padding: 20px;
    min-width: 400px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);

 }


 table {
    width: 100%;
 }
 th, td {
    color: #ffffff;
 }
 .borrar {
    background-color: #EF8700;
   border-radius: 50%;
   padding: 5px 10px;
   text-decoration: none;
   color: #ffffff;
   font-weight: 800;
 }

 .bg {
    position: absolute;
    width: 700px;
    top:0;
    right: 0;
    z-index: -1;
 }

 .header-content {
    display: flex;
    align-items: center;
 }
 
 .header-txt {
    width: 50%;
    margin-right: 50px;
 }

 .header-txt h1 {
    font-size: 45px;
    line-height: 65px;
    color: #1d1d1b;
    margin-bottom: 30px;

 }

 .header-txt p {
    font-size: 16px;
    color: #5E5E5E;
    margin-bottom: 45px;
 }

 .header-txt span {
    color: #EF8700;
 }

 .btn-1 {

    display: inline-block;
    padding: 13px 40px;
    border-radius: 20px;
    background-color: #EF8700;
    font-size: 16px;
    color: #ffffff;
    text-transform: capitalize;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
     text-align: center;
    margin-bottom: 20px;
    margin-top: 10px;

 }

 .btn-1 :hover {
    background-color: #EF8700;
 }
 .header-img {
    width: 50px;
    text-align: right;
 }
 .header-img img {
    width: 650px;
 }

 .breakfast {
    padding: 50px 0;
 }
 h2 {
    font-size: 45px;
    line-height: 55px;
    color: #1d1d1b;
    margin-bottom: 45px;
 }
 .breakfast-content {
    display: flex;
    justify-content: space-between;
 }

 .breakfast-1 {
    display: flex;
    align-items: center;
    background-color: #ff9000;
    padding: 10px; 
    border-radius: 15px;
    width: 200px;
    box-shadow: 0 o 20px rgba(0, 0, 0, 0.2);
 }

 .breakfast-1 h3 {
    font-size: 16px;
    color: #ffffff;
    font-weight: 600;
 }

 .breakfast-1 img {
    width: 50px;
    margin-right: 25px;
 }
 .inf {
    padding: 100px 0;
    position: absolute;
    width: 300px;
    z-index: -1;
    top: 50px;
 }


 .info-content {
    display: flex;
    align-items: center;
 }

 .info-img {
    width: 45%;
    text-align: left;
 }

 .info-img img {
    width:  550px;
    margin-left: -50px;
 }

 .info-txt {
    width: 50%;
 }

 .products {
    padding: 0 0 50px 0;
    text-align: center;
 }

 .box-container {
    margin-top: 55px;
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(250px,lfr));
    gap: 20px;
 }

 .box {
    border-top: 2px solid #ff9000;
    padding: 20px;
    border-radius: 15px;
    z-index: 1000;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    display:none;
 }


.box:nth-child(1),
.box:nth-child(2),
.box:nth-child(3),
.box:nth-child(4) {
    display: inline-block;
}
.box img {
    width: 200px;
}

.products-txt h3 {
    font-size: 40px;
    color: #1d1d1b;
    margin-bottom: 10px;
}
.products-txt p {
    margin-bottom:  25px;
}

.precio {
    font-size:  20px;
    color: #ff9000;
}

.btn-2 {
    background-color: #ff9000;
    margin-top: 50px;
    display: inline-block;
    padding: 13px 45px;
    border-radius: 25px;
    color: #ffffff ;
    font-size: 16px;
    cursor: pointer;
    box-shadow: 0 5px 10px  rgba(0, 0, 0, 0.2);
}

.btn-2 :hover {
    background-color: #EF8700;

}
.btn-3 {
    padding: 5px 25px;
    background-color: #ff9000;
    color: #ffffff ;
    border-radius: 10px;
}

.btn-3 :hover {
    background-color: #EF8700;
}


.sabias-que {
  max-width: 900px;
  margin: 60px auto;
  padding: 20px;
  text-align: center;
}

.sabias-que h2 {
  color: #1b4332;
  font-size: 2rem;
  margin-bottom: 30px;
}

.tarjetas-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.tarjeta {
  background-color: #fff;
  border-left: 6px solid #EF8700; 
  border-radius: 15px;
  padding: 20px;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.1);
  text-align: left;
  font-size: 18px;
  line-height: 1.5;
  transition: all 0.3s ease;
}

.tarjeta:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.2);
}




.footer {
  background-color: #070402;
  color: #fff;
  padding: 10px 0 10px 0;
  font-family: "Poppins", sans-serif;
}

.footer-content {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
  gap: px;
  padding: 10px 90px;
}

.footer h3 {
  color: #fff;
  margin-bottom: 10px;
  font-size: 29px;
  font-weight: bold;
}

.footer ul {
  list-style: none;
  padding: 0;
}

.footer a {
  color: #fff;
  text-decoration: none;
}

.footer a:hover {
  text-decoration: underline;
}

/* ENLACES */
.enlaces-footer li {
  margin-bottom: 5px;
  font-size: 15px;
}

/* REDES */
.contact-icons {
  display: flex;
  gap: 80px;
  justify-content: flex-end;
  align-items: center;
  margin-top: 10px;
}

.icono-contacto {
  width: 100px;
  height: 100px;
  transition: transform 0.3s ease;
}

.icono-contacto:hover {
  transform: scale(1.15);
}

/* COPYRIGHT ABAJO */
.footer-copy {
  text-align: center;
  border-top: 1px solid rgba(255, 255, 255, 0.5);
  margin-top: 30px;
  padding-top: 100px;
  font-size: 14px;
  color: #fff;
}

/* RESPONSIVE (celulares) */
@media (max-width: 768px) {
  .footer-content {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  .contact-icons {
    justify-content: center;
  }
}





 @media (max-width:901px) {
    .menu {
        padding: 20px;
    }

    .menu label {
        display: inicial;
    }

    .menu .navbar {
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        background-color: #ff9000;
        display: none;
    }


    .menu .navbar ul li {
        width: 100%;
    }

     .menu .navbar ul li a:hover {
        color: #FFFFFF;
     }

     .logo {
        display: none;
     }
     #menu:checked ~ .navbar {
        display: initial;
     }


     .submenu:hover #carrito {
        width:  100%;
     }


     .bg {

        display: none;
     }

     .header-content {
        padding: 100px 30px 30px 30px;
        flex-direction: column;
     }

     .header-txt {
        text-align: center;
        width: 100%;
        margin: 0 0 25px 0;
     }

     .header-txt h1 {
        font-size: 45px;
        line-height: 55px;
        margin-bottom: 20px;
     }

     .hearder-txt p {
        margin-bottom: 20px;
     }
     .header-img {
        width: 100%;
        text-align: center;
     }

     .header-img img {
        width: 300px;
     }
     .breakfast {
        padding: 30px;
     }

     .breakfast-content {
        flex-direction: column;
        align-items: center;
     }

     .breakfast-1 {
        justify-content: space-between;
        padding: 10px 55px;
        width: 100%;
        margin-bottom: 25px;
     }
     .info {
        padding: 30px;
     }
     
     .bg-2 {
        display: none;
     }
     .info-content {
        flex-direction: column;
     }

     .info-img {
        width: 100%;
        text-align: center;
     }

     .info-img img {
        width: 250px;
        margin-left: 0;
     }

     .info-txt {
        width: 100%;
        text-align: center;
     }


     .products {
        padding: 30px;
     }

     .box-container {
        margin-top: 25px;
     }

     .app {
        flex-direction: column;
        padding: 30px;
     }

     .app-txt {
        width: 100%;
        text-align: center;
     }

     .descarga {
        flex-direction: column;
        align-items: center;
     }

     .app-img {
        width: 100%;
        text-align: center;
     }

     .app-img img {
        width: 300px;
     }

     .footer {
        padding: 30px;
     }

     .footer-content {
        flex-direction: column;
        align-items: center;
        text-align: center;
     }


 }

    






    
 